.ceo {
    /* background-image: linear-gradient(to top, #0e0a1b, #151221, #1a1827, #211d2d, #272334); */
    background-color: #0E0A1B;

    /* background-color: #00020F; */
    height: 1500px;
    width: 100%;
    margin-top: 100px;
    position: absolute;

}

.img-div {
    margin-top: 10px;
}

.ceo-parent {


    border-radius: 5px;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    margin-top: 1600px;
    transform: translate(-50%, -50%);
    height: 230px;
    width: 400px;
    background-color: #1E1E1E;
    box-shadow: 2px 2px 2px 2px #333;
    display: flex;
}


.ceo-parent img {
    position: absolute;
}

.ceo-img {
    width: 30%;
}

.ceo-img img {
    width: 200px;
    border: 1px solid rgb(146, 144, 144);
    border-radius: 5px;

}

.ceo-detils {
    color: rgb(163, 165, 167);
    width: 100%;

}

.ceo-detils h3 {
    margin-top: 24px;
    color: white;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}

.ceo-detils span {
    color: #0487FB;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
}

.ceo-detils p {

    margin-bottom: 0px;
    /* padding-bottom: 0px; */
    margin-top: 15px;
    color: #CCCCCC;
    font-size: 15px;
    /* font-family: 'Times New Roman', Times, serif; */
}

.ceo-detils button {
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    background-color: #0487FB;
    color: white;

}

.ceo-detils h5 {
    margin-top: 10px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;

}


.h3-span {
    line-height: 0.2;
}