.active-tab {
    border-radius: 5px;
    box-shadow: 4px 4px 8px 2px rgba(0, 64, 255, 0.3);
}

.container-head-main {
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.service-head {
    margin-top: 80px;
    text-align: center;
    justify-content: center;
}

.service-head h1 {
    font-size: 25px;
    font-weight: 700;
}

.cervice-parents nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.Link-div {
    text-decoration: none;
}

.service-child {
    border: 1px solid rgb(198, 198, 198);
    height: 100px;
    width: 100%;
    border-radius: 5px;
    display: flex;
}

.service-child:hover {
    border: 1px solid rgb(198, 198, 198);
    height: 100px;
    width: 100%;
    color: black;
    border-radius: 5px;
    display: flex;
}

.service-child img {
    width: 80px;
}

.service-child-2 h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.service-child-2 h3:hover {
    font-size: 20px;
    color: black;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    transition: 0s;
}

.service-child-2 p {
    color: #727B8A;
    font-size: 16px;
}