.skillsbar-div-head {
    /* background-color: bisque; */
}

.skillsbar {
    margin-top: 170px;
}

.skills-bar-head {
    display: flex;
    background-color: #EBF1F8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.skills-bar-head11 img {

    width: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.skills-bar-head11 {

    padding: 10px;
    height: 40px;
    width: 700px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    clip-path: polygon(75% 0%, 84% 50%, 75% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.skills-introimg img {
    width: 170px;
    border-radius: 5px;

}

.followglinkedin img {
    width: 170px;
    border-radius: 5px;
}

.skills-child-main {
    height: 500px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.lastupdate {
    border: 1px solid rgb(152, 152, 152);
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
}

.skills-headline-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.skills-headline-child div {
    height: 100px;
    width: 100%;
    background-color: #0487FB;
    border-radius: 5px;
    line-height: 0.4;
    padding: 15px;
    padding-top: 20px;

}

.skills-headline-child div .dsahead {
    font-weight: 700;
    color: white;
    font-size: 18px;

}

.skills-headline-child div .dsahead1 {
    font-weight: 700;
    color: #d1def4;
    font-size: 14px;

}

.bar-chart {
    display: flex;
}

.pro-barchart {
    height: 300px;
    width: 32%;
    /* background-color: #c2cdd7; */
}

.language-barchart {
    
    width: 100%;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(2, 1fr);
}

.bar-chart-child {
    height: 300px;
    width: 100%;
    background-color: #EBF1F8;
    border-radius: 5px;
}