/* .skills-div {
    position: absolute;
    margin-top: 400px;
    width: 100%;
    height: 300px;
    background-color: #0E0A1B;
    color: white;
    text-align: center;
    line-height: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);

}

.skills-div p {
    color: #E0D3D3;
    font-size: 16px;

}

.skills-div h1 {
    font-size: 25px;

}



.skills-div .prolanguage {
    margin-top: 50px;
    position: relative;
    height: 150px;
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(103, 108, 112);
    border-radius: 5px;
}
.prolanguage {
    position: relative;
    margin-top: 400px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.prolanguage div img{
    width: 100px;
} */


.skills {
    height: 400px;
    width: 100%;
    margin-top: 400px;
    /* border: 1px solid black; */
    display: flex;
}

.skills-headline {
    padding-top: 15%;
    padding-left: 20px;
    padding-right: 25px;
    height: 100%;
    width: 100%;
    /* background-color: beige; */
}

.skills-headline h1 {
    color: #333F52;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.skills-headline p {

    color: #333F52;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.skills-headline .skills-button {
    background-color: #0487FB;
    padding: 5px;
    border-radius: 20px;
    color: white;
    width: 150px;
    font-size: 15px;
    margin-top: 20px;

}

.skills-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    /* background-color: rgb(203, 203, 203); */
}

.skills .skills-img .js {
    margin-top: auto;
}

.skills .skills-img .js img {
    margin-left: auto;

    width: 150px;
    text-align: center;
}

.react {
    margin-top: auto;
}

.react img {
    margin-top: auto;
    margin-left: auto;

    width: 150px;
}