#slideshow {
    margin: 0 auto;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
}

.slideshow-title {
    font-family: 'Allerta Stencil';
    font-size: 62px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 25%;
    letter-spacing: 3px;
    font-weight: 300;
}

.sub-heading {
    padding-top: 50px;
    font-size: 18px;
}

.sub-heading-two {
    font-size: 15px;
}

.sub-heading-three {
    font-size: 13px;
}

.sub-heading-four {
    font-size: 11px;
}

.sub-heading-five {
    font-size: 9px;
}

.sub-heading-six {
    font-size: 7px;
}

.sub-heading-seven {
    font-size: 5px;
}

.sub-heading-eight {
    font-size: 3px;
}

.sub-heading-nine {
    font-size: 1px;
}

.entire-content {
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 60s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    height: 120px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}


/* ++++++++++++++++++++++


 

+++++++++++++++++++++++ */

.certification-main {
    background-color: #13111c;
    padding-bottom: 10px;
    margin-top: 100px;
}

.certi-div {
    height: 80px;
    background-color: #051d40;
    background-color: #050d18;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.certi-div:hover {
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    transition: 1s;
}

.certi-div img {
    width: 120px;
}

#upgrade1 img {
    width: 200px;
}

.certi-div img {
    margin: 20px;
    padding: 10px;
}

.certi-descrip h1 {
    font-size: 20px;
    color: #00ffd5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.certificate-img  {
display: flex;
align-items: center;
justify-content: center;

}
.certificate-img h1 {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;

}
.certificate-img img{
width: 80px;
}
 
.certificate-description {
    padding-left: 50px;
    display: flex;
}

.certificate-description h3 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: white;
}

.certificate-description p {
    font-size: 13px;
    color: #12B2A7;
}

.certificate-description div {
    border-left: 1px solid blue;
    padding-left: 10px;
}

 
