.whatsapp-logo {
    position: fixed;
    top: 80%;
    right: 0;
    margin-right: 10px;
    transform: translate(0, -50%);
}

.whatsapp-logo .whatsapplogo {
    color: limegreen;

}

.home-div {
    display: flex;
    margin-top: 1px;

}

.name-div {
    height: 500px;
    width: 50%;
    background-color: #0E0A1B;
}

.home-div-main {
    position: relative;
    background-color: #0E0A1B;

}

.pic-div {
    height: 500px;
    width: 50%;
    background-color: rgb(25, 25, 36);
}

.name-div {

    padding-top: 70px;
    padding-left: 30px;

}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");


.name-div22 {
    line-height: 0;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-family: "Poppins", sans-serif;

}

.typical {
    font-size: 20px;
    color: #C0C0C0;
}

.name-div .name-p {
    color: white;
}

.name-div img {
    width: 80px;
}
.name-div hr{
    color: #a8a7a7;
     
}

.name-div h1 {

    background-image: linear-gradient(to right, #fd5d93, #c76df1);




    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-top: 0px;
    font-family: "Montserrat", sans-serif;

    /* color: #d467fc; */
    font-weight: 700;
}

/* .name-div span {
    font-weight: 700;
    color: #0487FB;
} */

 
.social-link {
    display: flex;

}
.name-div .typical{
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

}
.name-div p{
    font-family: "Montserrat", sans-serif;
}
 
.social-link FontAwesomeIcon {
    width: 100px;
    color: #EBF1F8;


}

.social-link div img {
    color: white;

}
.social-link .icon-main {
    color: white;
    

}

.icon-div {
    display: flex;
}

.pic-div {
    background-color: #0E0A1B;
}

.pic-div img {
    width: 500px;
}

.wave1 img {
    position: absolute;

}



.wave1 {
    top: 1000px;
}

/* ==================== */
.sort-intro {
    height: 400px;
    width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;


}

.sort-intro-headline {
    display: flex;
    background-color: #EBF1F8;

}

.sort-intro-img img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}


.sort-intro-head {

    padding: 10px;
    height: 40px;
    width: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-left: auto;
    margin-right: auto;
    clip-path: polygon(75% 0%, 84% 50%, 75% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.sort-intro-headline .sort-intro-head img {

    width: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.linkedin-follow img {
    right: 0;
    padding-right: 7px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.sort-intro-headline img {
    width: 150px;

}

.sort-intro-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7pxpx;
    background-color: #EBF1F8;

}

.sort-intro-child-div {
    height: 120px;
    width: 365px;
    border-radius: 5px;
    line-height: 0.5;


}

.sort-intro-child-div img {
    width: 80px;
    margin: 20px;



}

.institution {
    margin-left: 130px;
    font-family: sans-serif;
}

.institution33 {
    margin-left: 130px;
    font-family: sans-serif;
    font-size: 15px;
    color: #3a4251;
}

.institution44 {
    margin-left: 130px;
    font-family: sans-serif;
    font-size: 14px;
    color: #727B8A;
}

.institution11 {
    font-size: 23px;
    margin-left: 130px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #504848;
    font-family: 'Times New Roman', Times, serif;
}