.whatsapp-logo {
    position: fixed;
    top: 80%;
    right: 0;
    margin-right: 10px;
    transform: translate(0, -50%);
}

.home-div {
    display: flex;
    margin-top: 1px;

}

.name-div {
    height: 500px;
    width: 50%;
    background-color: #0E0A1B;
}

.pic-div {
    height: 500px;
    width: 50%;
    background-color: rgb(25, 25, 36);
}

.name-div {
    color: white;
    padding-top: 70px;
    padding-left: 30px;

}

.name-div22 {
    line-height: 0;
    margin-top: 30px;
    font-family: serif;

}

.name-div .name-p {
    color: white;
}

.name-div img {
    width: 80px;
}

.name-div h1 {
    padding-top: 0px;
    color: aqua;
    font-weight: 700;
}

.name-div span {
    font-weight: 700;
    color: #0487FB;
}

.name-div p {
    color: #a8a7a7;
}

.social-link {
    display: flex;

}

.social-link FontAwesomeIcon {
    width: 100px;


}

.social-link div img {
    color: white;

}

.icon-div {
    display: flex;
}

.pic-div {
    background-color: #0E0A1B;
}

.pic-div img {
    width: 500px;
}

.wave1 img {
    position: absolute;

}

/* ==================== */
.sort-intro {
    height: 400px;
    width: 800px;
    background-color: #0487FB;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
}
.sort-intro-headline{
    display: flex;
    justify-content: space-between;
}
.sort-intro-headline img{
    width: 150px;
    
}