.marquee-div {
    display: flex;
}

.marquee-div-name span {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

.marquee-div-name p {
    font-family: sans-serif;
    font-size: 40px;
    color: #fff;
    font-weight: 800;
}

.marquee-div {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-div img {
    border-radius: 5px;
    width: 200px;
    margin: 13px;
    transition: transform 0.4s ease;
}

.marquee-div img:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
    animation-play-state: paused;
}