.App {
    background-color: var(--body_background);
    min-height: 100vh;
    color: var(--body_color);
}

.App-link {
    color: var(--link_color);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}